- keys = tree.each_key.sort
- s = keys.size
-# return early if its just a 'self' pointer
- return if s < 2
%ul{:class=>"folder", :data=>"icon:false"}
  - keys.each do |name|
    -# skip 'self'
    - next if name.empty?
    -# pass as name attrib for d3
    %li{:data=>"icon:false", :name=>name}
      -# pass as text for dynatree
      = name
      - if tree[name]
        = render :partial => "index_classtree", :locals => { :tree => tree[name] }
