
:javascript
  var graph_controller = function(){ return "cim_classes";};
  var graph_model = function(){ return "#{model}"; };

- @my_script = "classes_graph_#{layout}"

%h2{:style=>"text-align: center"}
  = t("web-app-theme.all", :default => @title)

%div#slider-zoom{:style=>"width: 600px"}
%div#slider-orientation{:style=>"float:left; height: 600px"}
%div#viewport
