:plain
[
- first = true
- Connection.all.each do |c|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "key": { "controller": "connections",
                 "id" : "#{c.id}",
                 "action": "connect" },
        "icon": false,
        "title": "#{c.name}"
      }
]

