:plain
[
- first = true
- Connection.all.each do |c|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "key": "connections/#{c.id}/connect",
        "icon": false,
        "title": "#{c.name}"
      }
]

