.block.notice
  %h3 Connections
  .content
    %p Connections provide access to remote Hosts
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
