<% @title = "WS-Browser - Inventory"
   @nav_active = "start"
-%>

<% @subnav = subnav_for_start -%>

<% @view_partial = "inventory"
   if @iventory
     @view_title = "Inventory"
   end  
-%>  
<!-- its all in the 'start' layout -->