:plain
[
- first = true
- @networks.each do |network|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "key": { "controller": "instances", "ns":"#{network.namespace}" },
        "icon": false,
        "title": "#{network.Name}"
      }
]

