<% @title = "WS-Browser - Introduction"
   @nav_active = "intro"

-%>

<% @subnav=[
    { :name => "", :attributes => { :action => "" } },
]
-%>

<% @view_title = "Introduction"
   @view_partial = "intro" -%>
<!-- its all in the 'main' layout -->