.block.notice
  %h3 Hosts
  .content
    %p Hosts are computer systems you can explore
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Discover more hosts
    %li
      %a{:href => "#"} Connect to a host
