<% if @identify %>
  <% if @identify[:error] -%>
    <%= @identify[:error] %>
  <% else -%>
    <h3>
      <%= @identify[:product_vendor] -%> <%= @identify[:product_version] -%> supporting protocol <%= @identify[:protocol_version] -%>
    </h3>
  <% end -%>
<% else -%>
  <h3>No host identification possible</h3>
  Please log in and connect to a host.
<% end -%>