:plain
[
- first = true
- Client.all.each do |c|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "controller": "connections",
        "id" : "#{c.id}",
        "action": "create",
        "icon": false,
        "title": "#{c.name}"
      }
]
