- @title = "WBEM-Explorer - Explore standards-based instrumentation"

#block-text.block
  .content
    %h2.title= @title
    .inner
      %p.first
        Hosts define remote Systems
      %p
        Users provide authenticated access
      %p
        Clients combine both
      %p
        %span.small Once you have clients, you can connect to them and explore
      %hr/
      %p
        %span.gray Written by Klaus Kämpf &lt;kkaempf@suse.de&gt;

      - content_for :r_sidebar, render(:partial => 'right_sidebar')
