- @title = "WBEM-Explorer - Explore standards-based instrumentation"

#block-text.block
  .content
    %h2.title= @title
    .inner
      %p.first
        Create clients to connect to remote systems
      %hr/
      %p
        %span.gray Written by Klaus Kämpf &lt;kkaempf@suse.de&gt;

      - content_for :r_sidebar, render(:partial => 'right_sidebar')
