<% @title = "WS-Browser - Host Management"
   @nav_active = "host"
-%>

<% @subnav=[
    { :name => "Add", :attributes => { :action => "add" } },
    { :name => "View", :attributes => { :action => "view" } },
    { :name => "Search", :attributes => { :action => "search" } },
    { :name => "Tag", :attributes => { :action => "tag" } }
    ] -%>
<!-- its all in the 'main' layout -->