%h2.title
  = t("web-app-theme.all", :default => @title)
.inner
  %table.table
    %tr
      %th.first
        = t("Class")
    - @classes.each do |c|
      %tr{:class => cycle("odd", "even")}
        %td
          = link_to c, cim_class_path(c)

  .actions-bar.wat-cf
    .actions
    = paginate @classes
