- @my_script = "classnames_graph"

%h1{:style=>"text-align: center"} Classnames
%div#classnames_data{:style=>"display:none"}
  - @names = []
  - @classnames.each do |cn|
    =render :partial => "index_graph_class", :locals => { :name => cn }
%div#viewport{:width=>"800", :height=>"600"}
