- @my_script = "classnames_graph"

%h1{:style=>"text-align: center"} Classnames
%div#classnames_data{:style=>"display:none"}
  - @classnames.each do |cn|
    %div{:class=>'graph classname',:id=>cn}
%div#viewport{:width=>"800", :height=>"600"}
