%div#status
  %p
    - if session[:connection]
      Connected to
      = Connection.find(session[:connection])
      = form_for :connection do |c|
        = link_to "Disconnect", disconnect_path
    - elsif @status
      = @status
    - else
      Not connected
