%p
  - if session[:connection]
    -# connection established
    Connected to
    = Connection.find(session[:connection])
    = form_for :connection do |c|
      = link_to "Disconnect", disconnect_path
  - elsif @status
    -# connection error
    = @status
  - else
    Not connected
