%p
  - if session[:client]
    -# client connection established
    Connected to
    = Client.find(session[:client])
    = form_for :client do |c|
      = link_to "Disconnect", "/connections/destroy", :method => :delete
  - elsif @status
    -# connection error
    = @status
  - else
    Not connected
