%p
  - if session[:client]
    -# client connection established
    Connected to
    = Client.find(session[:client])
    = form_for :client do |c|
      = link_to "Disconnect", disconnect_path
  - elsif @status
    -# connection error
    = @status
  - else
    Not connected
