:plain
[
- first = true
- @processes.each do |process|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "key": { "controller": "instances", "ns":"#{process.namespace}" },
        "icon": false,
        "title": "#{process.Description}"
      }
]

