:plain
[
- first = true
- @namespaces.each do |ns|
  - if first
    - first = false
  - else
    ,
  :plain
      {
        "key": { "controller": "classnames", "ns":"#{ns}" },
        "icon": false,
        "title": "#{ns}"
      }
]

