/* 
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/default/style.css
 *= require ui.dynatree.css
 *= require jquery-ui-1.8.16.custom.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */
.dynatree-container {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(255, 255, 255, 0.3);
}

/* Force graph */
circle.node {
  stroke: orange;
  stroke-width: 1.5px;
}
    
line.link {
  stroke: #999;
  stroke-opacity: .6;
}

/* Tree graph */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}
      
.node {
  font: 10px sans-serif;
}
	
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}