%h2.title
  = t("web-app-theme.all", :default => @title)
.inner
  - first = @names.first
  - keys = []
  - if first
    - keys = first.keys

  %table.table
    %tr
      - keys.each do |k|
        %th= k
    - @names.each do |name|
      %tr{:class => cycle("odd", "even")}
        - keys.each do |k|
          %td= name.send(k.to_sym)

  .actions-bar.wat-cf
    .actions
    = paginate @names
