%div#left_sidebar_trees
  / display:none during load, will be enabled by document.ready
  - if Client.count > 0
    %div#clients_tree
      %ul{:id=>"clients", :style => "display: none;"}
        %li#clients{:class=>"folder", :title=>"Choose a client", :data=>"icon: false, isLazy: true" }
          Clients

  - views_tree_display = session[:client] ? "block" : "none"
  %div#views_tree{:style => "display: #{views_tree_display};"}
    / display:none during load, will be enabled when connection is ready
    %ul{:id=>"views"}
      %li#namespaces{:class=>"folder", :title=>"Available namespaces", :data=>"icon: false, isLazy: true" }
        Namespaces
      %li#models{:class=>"folder", :title=>"Known CIM models", :data=>"icon: false, isLazy: true" }
        Models
      %li#systems{:title=>"Systems", :data=>"icon: false" }
        Systems
      %li#services{:title=>"Services", :data=>"icon: false" }
        Services
      %li#processes{:title=>"Processes", :data=>"icon: false" }
        Processes
      %li#networks{:title=>"Network", :data=>"icon: false" }
        Network
      %li#storages{:title=>"Storage", :data=>"icon: false" }
        Storage
