%div.sidebar
  .block.notice
    %h2 Status
    %div#connecting{ :style => "display: none;" }
      %p
        Connecting ...
    %div#connection_status
      =render :partial => 'status/content'

= render :partial => 'left_sidebar_tree'
