%div#tree
  / display:none during load, will be enable by document.ready
  %ul{:id=>"treeData", :style => "display: none;"}
    - if Connection.count > 0
      %li#connections{:class=>"folder", :title=>"Choose a connection", :data=>"icon: false, isLazy: true" }
        Connections
    %li#namespaces{:class=>"folder", :title=>"Available namespaces", :data=>"icon: false, isLazy: true" }
      Namespaces
    %li#profiles{:class=>"folder", :title=>"Available profiles", :data=>"icon: false, isLazy: true" }
      Profiles
