/ Icons on right of header

%div#icons
  = link_to( image_tag( "geeko.jpg", :size => "130x85", :border => 0), "http://www.opensuse.org" )


/ Heading and Subheading text
%h1 WBEM Explorer
%h2 Explore Linux, Unix and Windows systems
/ Main navigation
%ul#nav
  - @nav.each do |n|
    - name = n[:name].capitalize
    - options = Hash.new
    - options[:class] = "active" if (n[:name] == @nav_active)
    - options[:method] = n[:method] if n[:method]
    = raw(n[:last]?'<li class="last">':'<li>')
    = link_to raw("<em>" + name[0,1] + "</em>" + name[1..-1]), n[:path], options
                
/ Sub navigation

- if @subnav
  %ul#subnav
    - @subnav.each do |sn|
      %li
      = link_to sn[:name], sn[:path], sn[:options]
