%h2 Status
=render :partial => 'status/content'

%h2 Actions
= render :partial => 'function/content'

%h2 Search
= form_tag search_host_path do
  = text_field( "search", "Search", { :value => "Search" } )
