%div#right-sidebar
                
  %h2 Info
  %p
    This demo shows a
    %a{:href=>"www.rubyonrails.org"} Ruby On Rails
    application utilizing
    %a{:href=>"http://www.dmtf.org/standards/wbem/wsman"} Web Services for Management
            
  %p
    Created by
    %a{:href=>"mailto:kkaempf@suse.de"} Klaus K&auml;mpf


  %h2 Links
  %ul
    %li
      %a{:href=>"http://www.ruby-lang.org"} Ruby
    %li
      %a{:href=>"http://www.rubyonrails.org"} Ruby On Rails
    %li
      %a{:href=>"http://www.dmtf.org"} DMTF
    %li
      %a{:href=>"http://www.openwsman.org"} Openwsman

  %h2 Sponsors
  %ul
    %li
      %a{:href=>"http://www.suse.com"} SUSE
    %li
      %a{:href=>"http://www.opensuse.org"} OpenSUSE
    %li
      %a{:href=>"http://www.intel.com"} Intel
